<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Bienvenida</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
 <div class="container">
 	 <div class="row mb-2">
	 	 <img class="col-6 col-sm-4 col-md-3 col-lg-2" src="./img/logoQtxSinFondoMedio.png">
 	 </div>
	 <div class="jumbotron bg-info text-white">
	  <h1 class="display-4 " th:text="#{index.titulo(locale)}">Demo Spring 5</h1>
	  <p class="lead" th:text="#{index.descProy(locale)}">Proyecto de demostración de Spring 5 en combinación con Spring Boot 2.</p>
	  <hr class="my-4 border-light">
	  <p th:text="#{index.detalle(locale)}">Ofrece ejemplos de las funcionalidades más representativas del framework: IoC, AoP, Spring Data, MVC, etc.</p>
	  <a class="btn btn-danger btn-lg" href="./menu" role="button" th:text="#{index.btn.inicio(locale)}">Empezar</a>
	</div>
 </div>
</body>
</html>